@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto+Slab&display=swap');

mat-progress-spinner {
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 auto;
}

button {
  margin: 50px
}

div {
  background-color: #8aacc8;
  width:100%;
  height: 100%;
}