@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto+Slab&display=swap');

mat-progress-spinner {
  flex: 1 1 auto;
  justify-content: center;
  margin: 0 auto;
}

button {
  margin: 50px
}

div {
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}